$white:                #fff;
$black:                #333;
$gray:                 #666;
$patina:               #699;
$nebula:               #d2e1dd;
$iron:                 #dadbdf;
$mischka:              #d4d8e3;
$athens-gray:          #e7e8ef;
$alabaster:            #f7f7f7;
$bridal-heath:         #fffbf3;
$rolling-stone:        #7b8087;

$primary-color-dark:   #333399;
$primary-color:        #3399FF;
$primary-color-light:  #3366CC;
$accent-color:         #FF4081;
$light-accent-color:   #F8BBD0;
$primary-text-color:   #212121;
$secondary-text-color: #FFFFFF;
$divider-color:        #B6B6B6;
