body {
  @include font-size();
  font-family: $base-font-family;
  color: $black;
  margin: 0;

  input {
    @include font-size();
    font-family: $base-font-family;
    color: $black;
  }

  h3 {
    color: $black;
    @include font-size();
  }
}
