.reservation-list {
  @include span-columns(4);
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    @include span-columns(12);
    margin: .5em 0;
    padding: .5em;

    header {
      @include span-columns(2);
    }
  }
}

.li-content {
  @include span-columns(10)
  border-bottom: 1px solid $athens-gray;
  div {
    @include span-columns(12);
  }

  .reserver {
    span {
      float: left;
    }
    small {
      float: right;
    }
  }

  .room {
    span {
      float: left;
    }
    small {
      float: right;
    }
  }

  .guests {

  }
}

.profile-fig {
  @include span-columns(1 of 12)
  background: $primary-color;
  border-radius: 50%;
  margin: 0;
  height: 3em;
  width: 3em;
  color: $white;
  text-align: center;
  transform-style: preserve-3d;

  strong {
    width: 100%;
    @include font-size(2);
    @include vertical-align(absolute);
    left: 0;
  }
}
