.reservation-list {
  @include span-columns(4);
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

.list-item {
  @include span-columns(12);
  background: $athens-gray;
  margin: .5em 0;
}

.list-item-content {
  @include span-columns(11)
  strong {
    @include span-columns(12);
  }
}

.profile-fig {
  @include span-columns(1 of 12)
  background: $primary-color;
  border-radius: 50%;
  margin: 0;
  height: 3.5em;
  width: 3.5em;
  color: $white;
  text-align: center;
  transform-style: preserve-3d;

  strong {
    width: 100%;
    @include font-size(2);
    @include vertical-align(absolute);
    left: 0;
  }
}
