.reservation-form {
  padding: 1em;
  position: relative;
  display: block;
  width: 600px;
  margin: 1.5em auto;
  background: $alabaster;
  z-index: 10;
  input {
    @include material-input;
  }
}
